(
    name: Some("dcss"),
    id: 1,
    tiles: {
        0: "../tiles/dcss/empty.ron",
        1: "../tiles/dcss/terrain/floor.ron",
        2: "../tiles/dcss/terrain/wall.ron",
        3: "../tiles/dcss/terrain/water.ron",
    }
)