(
    name: Some("cursor"),
    id: 1,
    tiles: {
        0: "../tiles/dcss/empty.ron",
        1: "../tiles/dcss/cursor/cursor.ron",
        2: "../tiles/dcss/cursor/cursor_red.ron",
        3: "../tiles/dcss/cursor/cursor_green.ron",
    }
)