(
    file: "tilesets/terminal8x8_transparent.png",
    tile_width: 8.0,
    tile_height: 8.0,
    columns: 16,
    rows: 16,
    padding_x: None,
    padding_y: None,
    offset_x: None,
    offset_y: None,
    tile_templates: [
        (
            x: 0,
            y: 0,
            tile_type: 0,
            foreground_color: None,
            background_color: None,
        ),
        (
            x: 3,
            y: 2,
            tile_type: 1,
            foreground_color: Some((
                r: 255,
                g: 255,
                b: 255,
                a: 255,
            )),
            background_color: Some((
                r: 0,
                g: 0,
                b: 0,
                a: 255,
            )),
        ),
        (
            x: 14,
            y: 2,
            tile_type: 2,
            foreground_color: Some((
                r: 45,
                g: 45,
                b: 45,
                a: 255,
            )),
            background_color: Some((
                r: 0,
                g: 0,
                b: 0,
                a: 255,
            )),
        ),
        (
            x: 14,
            y: 7,
            tile_type: 3,
            foreground_color: Some((
                r: 45,
                g: 45,
                b: 255,
                a: 255,
            )),
            background_color: Some((
                r: 0,
                g: 0,
                b: 0,
                a: 255,
            )),
        ),
        (
            x: 3,
            y: 2,
            tile_type: 5,
            foreground_color: Some((
                r: 85,
                g: 60,
                b: 35,
                a: 255,
            )),
            background_color: Some((
                r: 0,
                g: 0,
                b: 0,
                a: 255,
            )),
        ),
        (
            x: 3,
            y: 2,
            tile_type: 4,
            foreground_color: Some((
                r: 45,
                g: 255,
                b: 45,
                a: 255,
            )),
            background_color: Some((
                r: 0,
                g: 0,
                b: 0,
                a: 255,
            )),
        ),
    ],
)